.wrapper {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  box-sizing: border-box;
  background-color: #cec19f;
  border: 3px solid #b4653e;
  border-radius: 10px;
  text-align: center;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  margin-bottom: 0;
  font-size: 3.5em;
  font-weight: 900;
}

h2 {
  margin-top: 0;
  font-weight: 400;
  font-style: italic;
}

img {
  display: block;
  margin: auto;
  border-radius: 20px;
  max-width: 80%;
  /*box-shadow: 0 0 650px #5A321E;*/
}

figcaption {
  margin-top: 0;
  font-weight: bold;
  text-indent: 0;
}

#hrtop {
  max-width:80%;
  border-color: #b4653e;
}

h3 {
  max-width: 60%;
  margin: 1.2em auto;
  padding: 10px;
  border-radius: 20px;
  background: #b4653e;
  font-size: 1.5em;
  font-weight: 600;
}

.tribute-par, .tribute-lst {
  max-width: 80%;
  margin: auto;
  text-align: justify;
  text-indent: 2em;
  font-size: 1.1em;
  line-height: 30px;
}

ul {
  list-style-type: none;
  padding: 25px 0;
}

.year {
  font-style: normal;
  font-weight: 900;
}

blockquote {
  max-width: 70%;
  margin: 0.8em 10% 0.8em 25%;
  padding: 0.3em 0;
  border-top: 4px groove #b4653e;
  border-bottom: 4px ridge #b4653e;
  text-align: right;
  font-family: "Times New Roman", serif;
  font-size: 1.6em;
  font-weight: 400;
  color: #802200;
}

footer {
  font-family: cursive;
  font-size: 0.8em;
  font-weight: 400;
}

#hrbottom {
  max-width:90%;
  border-color: #b4653e;
}